// imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// fonts
$Roboto: 'Roboto';

// colors
$alice-blue: #F2F6FF;
$yankees-blue: #202D48;
$metallic-blue: #334977;
$grey: #F2F2F2;
$dark-grey: #888888;
$white: #fff;
$black: #000;
$green: #8BC34A;
$yellow: #FFC107;
$blue: #17A2B8;
$azureish-white: #E1E7F5;

// font weights
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$extra-weight: 800;

// font sizes
$default-fsize: 18px;
$medium-fsize: 24px;