@import "../../assets/scss/_variables.scss";

.slider {
  &__title-block {
    display: flex;
    align-items: center;
  }

  &__mark {
    border-radius: 100%;
    padding: 10px;
    margin-right: 20px;
  }

  &__mark.to-do {
    background-color: $blue;
  }

  &__mark.in-progress {
    background-color: $yellow;
  }

  &__mark.completed {
    background-color: $green;
  }

  &__title {
    text-transform: capitalize;
    font-size: $medium-fsize;
    font-weight: $medium-weight;
}
}
