@import '../../assets/scss/_variables.scss';

.update {
    margin-bottom: 20px;

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.task__add-title, .task__add-description {
    width: 100%;
}

.task__add-description {
    margin-top: 20px!important;
}

.task__update-btns {
    display: flex;
    align-items: flex-start;
}